.form-div {
    margin: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}

.form-row {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-label {
    font-size: larger;
    font-weight: bold;
}

.form-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.submit-button-div {
    display: flex;
    padding: 8px 0;
}